{% extends "base.html" %}
{% load static %}
{% block title %}
{{ post.location }}
{% endblock %}
{% block content %}

    <main>
      <div class="container py-5">
        <article>
          
          <ul>
            <li>
            Место: {{ post.location}}           
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' post.category %}"> {{ post.category }}</a> 
            </li>
          </ul>         
          <p>
          {{ post.text|linebreaks }} 
          </p>    
          
          
        </article>                
      </div>
    </main>
{% endblock %} 
