{% extends "base.html" %}

{% block title %}
Лента записей 
{% endblock %}

{% block content %}
        <h1>Лента записей</h1> 
        <hr>
        <article>
                             
        <!-- Перебираем в цикле все посты -->
        {% for post in posts reversed %}
        
        <li>
          Место: {{ post.location }}             
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.category %}"> {{ post.category }}</a>            
        </li>
        <p>
        {{ post.text|truncatewords:10 }}
        </p>
        <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
        <hr>

        {% endfor %}
      </article>
{% endblock %}
        